<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Security Dashboard v0.1.1</title>

 <!-- Bootstrap Core CSS -->
{% load static %}
 <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

 <!-- MetisMenu CSS -->
 <link href="../../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

 <!-- DataTables CSS -->
 <link href="../../static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

 <!-- DataTables Responsive CSS -->
 <link href="../../static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

 <!-- Custom CSS -->
 <link href="../../static/dist/css/sb-admin-2.css" rel="stylesheet">

 <!-- Custom Fonts -->
 <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
 <![endif]-->
 
    <script src="../../static/js/Chart.bundle.js"></script>
    <script src="../../static/js/utils.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Application Security Monitor v0.1.1</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
			
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                        <li class="sidebar-search">
	                            <div class="input-group custom-search-form">
	                                <input type="text" class="form-control" placeholder="Search...">
	                                <span class="input-group-btn">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                            </span>
	                            </div>
	                            <!-- /input-group -->
	                        </li>
	                        <li>
	                            <a href=""><i class="fa fa-list-alt fa-fw"></i> Inventory<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="{% url 'server' %}">Server Referential</a>
	                                </li>
	                                <li>
	                                    <a href="{% url 'index' %}">Application Referential</a>
	                                </li>
	                                <li>
	                                    <a href="{% url 'pentest' %}">Pentest List</a>
	                                </li>
	                                <li>
	                                    <a href="{% url 'vulnerability' %}">Vulnerability List</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href=""><i class="fa fa-dashboard fa-fw"></i> Dasboard<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="{% url 'dashboard' %}">General Report</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">Planning</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">Refcard</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html"></a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Data Validation<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="flot.html">Security Form Request</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">Production Security Review</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href=""><i class="fa fa-tasks fa-fw"></i> My Scope<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="flot.html">My Task</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">My Comment</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">Remediation Program</a>
	                                </li>
	                                <li>
	                                    <a href="morris.html">Force Task</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                                <li>
	                                    <a href="blank.html">Blank Page</a>
	                                </li>
	                                <li>
	                                    <a href="/admin/">Login Page</a>
	                                </li>
	                            </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>
         
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
						
						<div class="col-lg-12">
						                    <div class="panel panel-default">
						                        <div class="panel-heading">
						                            Basic Tabs
						                        </div>
						                        <!-- /.panel-heading -->
						                        <div class="panel-body">
						                            <!-- Nav tabs -->
						                            <ul class="nav nav-tabs">
						                                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Home</a>
						                                </li>
						                                <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a>
						                                </li>
						                                <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Messages</a>
						                                </li>
						                                <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
						                                </li>
						                            </ul>

						                            <!-- Tab panes -->
						                            <div class="tab-content">
						                                <div class="tab-pane fade active in" id="home">
						                                    <h4>General Team Reporting</h4>
						                                    <p>
															Il y a actuellement {{ NbrApp }} Applications : <br>
														   {% for App in ApplicationList %}
														   <li>{{ App.Appname }}</li>
														   {% endfor %}
														   </p>
														   <p>
														   Les {{ NbrApp }} Applications sont hébergés sur {{ NbrServ }} serveurs :
 														   {% for Serv in ServerList %}
 														   <li>{{ Serv.servername }}</li>
 														   {% endfor %}
															</p>
														   <p>
														   {{ NbrVuln }} vulnerabilitées ont été déclaré :
 														   {% for Vuln in VulnList %}
 														   <li>Type : {{ Vuln.name }} <br>sur {{ Vuln.target }} <br>dans le cadre de : {{ Vuln.scope }}</li><br>
 														   {% endfor %}
															</p>
 														   <p>
 														   {{ NbrVuln }} Pentest en cours :
  														   {% for Pentest in PentestList %}
  														   <li>Name : {{ Pentest.name }} <br>sur {{ Pentest.target }}<br> Nbr de vulnerability trouvée : {{ Pentest.total_vulnerability }}<br> réalisé par : {{ Pentest.auditor }}</li><br>
  														   {% endfor %}
 															</p>
															
						                                </div>
						                                <div class="tab-pane fade" id="profile">
						                                    <h4>General Applications Reporting</h4>
														    <div id="container" style="width: 75%;">
														        <canvas id="canvas"></canvas>
														    </div>
														    <button id="randomizeData">Randomize Data</button>
														    <button id="addDataset">Add Dataset</button>
														    <button id="removeDataset">Remove Dataset</button>
														    <button id="addData">Add Data</button>
														    <button id="removeData">Remove Data</button>
														    <script>
														        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
														        var color = Chart.helpers.color;
														        var horizontalBarChartData = {
														            labels: ["January", "February", "March", "April", "May", "June", "July"],
														            datasets: [{
														                label: 'Vuln found',
														                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
														                borderColor: window.chartColors.red,
														                borderWidth: 1,
														                data: [
														                    "10",
																			"2",
																			"4",
																			"0",
																			"4",
																			"0",
																			"2",
																			"0",
																			"7",
																			"2",
																			"0",
																			"7",
														                ]
														            }, {
														                label: 'Vuln fixed',
														                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
														                borderColor: window.chartColors.blue,
														                data: [
														                    "1",
																			"2",
																			"2",
																			"4",
																			"3",
																			"4",
																			"1",
																			"2",
																			"0",
																			"7",
														                ]
														            }]

														        };

														        window.onload = function() {
														            var ctx = document.getElementById("canvas").getContext("2d");
														            window.myHorizontalBar = new Chart(ctx, {
														                type: 'horizontalBar',
														                data: horizontalBarChartData,
														                options: {
														                    // Elements options apply to all of the options unless overridden in a dataset
														                    // In this case, we are setting the border of each horizontal bar to be 2px wide
														                    elements: {
														                        rectangle: {
														                            borderWidth: 2,
														                        }
														                    },
														                    responsive: true,
														                    legend: {
														                        position: 'right',
														                    },
														                    title: {
														                        display: true,
														                        text: 'Chart.js Horizontal Bar Chart'
														                    }
														                }
														            });

														        };

														        document.getElementById('randomizeData').addEventListener('click', function() {
														            var zero = Math.random() < 0.2 ? true : false;
														            horizontalBarChartData.datasets.forEach(function(dataset) {
														                dataset.data = dataset.data.map(function() {
														                    return zero ? 0.0 : randomScalingFactor();
														                });

														            });
														            window.myHorizontalBar.update();
														        });

														        var colorNames = Object.keys(window.chartColors);

														        document.getElementById('addDataset').addEventListener('click', function() {
														            var colorName = colorNames[horizontalBarChartData.datasets.length % colorNames.length];;
														            var dsColor = window.chartColors[colorName];
														            var newDataset = {
														                label: 'Dataset ' + horizontalBarChartData.datasets.length,
														                backgroundColor: color(dsColor).alpha(0.5).rgbString(),
														                borderColor: dsColor,
														                data: []
														            };

														            for (var index = 0; index < horizontalBarChartData.labels.length; ++index) {
														                newDataset.data.push(randomScalingFactor());
														            }

														            horizontalBarChartData.datasets.push(newDataset);
														            window.myHorizontalBar.update();
														        });

														        document.getElementById('addData').addEventListener('click', function() {
														            if (horizontalBarChartData.datasets.length > 0) {
														                var month = MONTHS[horizontalBarChartData.labels.length % MONTHS.length];
														                horizontalBarChartData.labels.push(month);

														                for (var index = 0; index < horizontalBarChartData.datasets.length; ++index) {
														                    horizontalBarChartData.datasets[index].data.push(randomScalingFactor());
														                }

														                window.myHorizontalBar.update();
														            }
														        });

														        document.getElementById('removeDataset').addEventListener('click', function() {
														            horizontalBarChartData.datasets.splice(0, 1);
														            window.myHorizontalBar.update();
														        });

														        document.getElementById('removeData').addEventListener('click', function() {
														            horizontalBarChartData.labels.splice(-1, 1); // remove the label first

														            horizontalBarChartData.datasets.forEach(function (dataset, datasetIndex) {
														                dataset.data.pop();
														            });

														            window.myHorizontalBar.update();
														        });
														    </script>
															
						                                </div>
						                                <div class="tab-pane fade" id="messages">
						                                    <h4>General Servers Reporting</h4>
						                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                                </div>
						                                <div class="tab-pane fade" id="settings">
						                                    <h4>Vulnerability Reporting</h4>
						                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                                </div>
						                            </div>
						                        </div>
						                        <!-- /.panel-body -->
						                    </div>
						                    <!-- /.panel -->
						                </div>
						
						<div class="col-lg-8">
		                  
							
						</div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
	{% load static %}
    <script src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
	{% load static %}
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
	{% load static %}
    <script src="../../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
	{% load static %}
    <script src="../../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../../static/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
	{% load static %}
    <script src="../../static/dist/js/sb-admin-2.js"></script>
</body>

</html>
